.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white_box{
    width: 90%;
    height: 90%;
    background-color: white;
    border: 1px solid black;
    overflow-y: scroll;
}

.content_container {
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.v_C{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin: 40px;
}

.List{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1,125rem;
}

.VizuAqui{
    margin-left: 5%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.Curso{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-top: 30px;
}

.Table {
    display: flex;
    justify-content: center;
}