.content_container {
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.v_C{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin: 40px;
}

.List{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1,125rem;
}

.VizuAqui{
    margin-left: 5%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.Table {
    display: flex;
    justify-content: center;
}

.CurDrop {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
}