.login_container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.login_box {
    border: 1px solid var(--black);
    background-color: var(--white);
    height: 75%;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 4%;
    overflow: auto;
}

.img_container img {
    height: 60px;
}

.welcome_section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 360px;
}

.welcome_section h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
}

.welcome_section p {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}