.btn {
    font-family: 'Open Sans', sans-serif;
    background: none;
    border-radius: 3px;
    cursor: pointer;
    width: fit-content;
    transition: 0.5s;
}

/* STYLES */

/* Primary */
.btn--primary--solid {
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
}

.btn--primary--solid:hover {
    transition: 0.5s;
    background-color: transparent;
    color: var(--light-blue);
    border: 1px solid var(--light-blue);
}

.btn--primary--outline {
    color: var(--light-blue);
    border: 1px solid var(--light-blue);
}

.btn--primary--outline:hover {
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
}

/* Light Blue */
.btn--light-blue--solid {
    background-color: var(--lighter-blue);
    color: var(--black);
    border: none;
}

.btn--light-blue--solid:hover {
    transition: 0.5s;
    background-color: transparent;
    color: var(--lighter-blue);
    border: 1px solid var(--lighter-blue);
}

.btn--light-blue--outline {
    color: var(--lighter-blue);
    border: 1px solid var(--black);
}

.btn--light-blue--outline:hover {
    transform: 0.5s;
    background-color: var(--lighter-blue);
    color: var(--white);
    border: none;
}

/* Red */
.btn--red--solid {
    background-color: var(--red);
    color: var(--white);
    border: none;
}

.btn--red--solid:hover {
    transition: 0.5s;
    background-color: transparent;
    color: var(--red);
    border: 1px solid var(--red);
}

.btn--red--outline {
    color: var(--red);
    border: 1px solid var(--red);
}

.btn--red--outline:hover {
    transform: 0.5s;
    background-color: var(--red);
    color: var(--white);
    border: none;
}

/* White */
.btn--white {
    color: var(--black);
    border: 1px solid var(--black);
    background-color: var(--white)
}

.btn--white--shadow {
    color: var(--black);
    border: 1px solid var(--black);
    box-shadow: 4px 4px 4px var(--shadow);
}

/* SIZES */

.btn--large {
    min-width: 160px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
}

.btn--medium {
    min-width: 120px;
    height: 35px;
    font-size: 14px;
    font-weight: 600;
}

.btn--small {
    min-width: 75px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
}