.login_container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box {
    border: 1px solid var(--black);
    background-color: var(--white);
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome_section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 40%;
}

.welcome_section h1 {
    font-size: 24px;
    font-weight: 600;
}

.welcome_section p {
    font-size: 16px;
    font-weight: 400;
}