.sidebar {
    height: 100vh;
    width: 240px;
    border: 1px solid var(--black);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
}

.sidebar button:hover {
    transition: 0.5s;
    background-color: var(--gray);
}

.user_info {
    background-color: var(--lighter-blue);
    border: 1px solid var(--black);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height:229px;
}

.text {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text p {
    font-weight: 600;
    text-align: center;
    max-width: 150px;
}

.img_container {
    padding: 10px;
}

.img_container img {
    height: 50px;
}