.form {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: flex;
}

.form_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button_container {
    display: flex;
    justify-content: center;
}

.info_section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_rows {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_row {
    display: flex;
    gap: 10px;
}